blinker
chromadb
click
Flask
Flask-Cors
google-generativeai
itsdangerous
Jinja2
langchain
langchain-community
langchain-core
langchain-text-splitters
MarkupSafe
pypdf
sentence-transformers
Werkzeug
sqlalchemy
psycopg2